%flex-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

%border-section--header {
  border: $section-border;
  border-bottom: none;
  border-radius: 1rem;
}

%border-section--between {
  border: $section-border;
  border-bottom: none;
  border-top: none;
}
