.footer-container {
  position: relative;
  bottom: 0;
}

.footer {
  margin-top: -10rem;
  min-height: 70vh;
  padding: 2rem 1rem 4rem;
  display: block;
  background-image: linear-gradient(
    to right bottom,
    darken(rgb(150, 242, 242), 9%) 0%,
    darken(rgb(18, 157, 244), 10%) 100%
  );
  clip-path: polygon(
    10% 0,
    90% 0,
    90% 10%,
    100% 10%,
    100% 100%,
    0 100%,
    0 10%,
    10% 10%
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: $section-border;
  border-top: none;
  border-bottom-width: 2px;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 0;

  &__logo-box {
    @extend %flex-centered;
  }

  &__logo {
    display: inline-block;
    @media screen and (min-width: $width-screen-large) {
      margin-left: -5rem;
    }
  }

  &__list {
    border-top: 2px solid $color-blue-darker;
    padding-top: 1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    @include respond(phone) {
      flex-basis: 60%;
      text-align: center;
    }
  }

  &__link-up {
    display: inline-block;
  }

  &__item,
  &__link-up {
    transition: transform 0.4s;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__link {
    text-decoration: none;
    color: $color-blue-darker;
    font-weight: 500;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      text-shadow: 0 1px 4px $color-blue-dark;
    }
  }

  &__coryright {
    border-top: 2px solid $color-blue-darker;
    padding-top: 1rem;
    text-align: center;
  }
}
