.btn {
  &,
  &:link,
  &:visited,
  &--cleared {
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    display: inline-block;
    transition: all 0.2s;
    border-radius: 100px;
    position: relative;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow:
      rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &::after {
      transform: scale(1.3, 1.2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(0px);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 6.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    @include btn-color(#777, aliceblue);
  }

  &--green {
    @include btn-color($color-green-2, $color-green-4);
  }

  &--blue {
    @include btn-color(
      lighten($color-blue-light, 20%),
      lighten($color-blue-dark, 5%)
    );
  }

  &--animated {
    @include mixin_animation(
      moveInBottom,
      $time-btn-move-in,
      ease-in-out,
      $delay-move-in-ani
    );
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    font-weight: 700;
    color: $color-blue-dark;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px dotted darken($color-blue-dark, 5%);
    padding: 3px 4px 1px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $color-blue-dark;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.btn-skip {
  position: absolute;
  top: 4rem;
  right: 4px;
  text-align: center;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 1rem;
  border: 1px double $color-green-3;
  color: $color-green-4;
  background-color: $backgound-green;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 0 4px $color-green-1;
  }

  &:active {
    transform: translateY(3px);
  }
}

.play-btn.btn-record {
  background-color: $color-red-mid;
  border-color: $color-white-max;
  transition: all 0.4s;

  &:hover {
    background-color: $color-white-max;
    color: $color-red-mid;
    border-color: $color-red-mid;
  }

  &.btn-recording {
    outline: 3px double $color-red-mid;

    @include mixin_animation-infinite(
      recording-outline-effect,
      0.7s,
      ease-in-out,
      0s
    );
  }
}
