.navigation {
  &__btn {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    z-index: $layer-2;
    background-color: $color-white-max;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-align: center;
    cursor: pointer;

    &__icon {
      margin-top: 1.9rem;
      position: relative;
      height: 2px;
      &,
      &::before,
      &::after {
        backface-visibility: hidden;
        display: inline-block;
        height: 4px;
        width: 2rem;
        background-color: $color-blue-7;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }

      &::before {
        top: -0.7rem;
      }

      &::after {
        top: 0.7rem;
      }
    }

    &:hover &__icon::before {
      top: -0.9rem;
    }

    &:hover &__icon::after {
      top: 0.9rem;
    }

    &__icon.navigation__btn__icon--X {
      background-color: transparent;

      &::before {
        transition: all 0.3s;
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        transition: all 0.3s;
        top: 0;
        transform: rotate(-45deg);
      }
    }

    &:hover &__icon.navigation__btn__icon--X::before {
      top: 0;
      transform: rotate(45deg) scale(1.2);
    }

    &:hover &__icon.navigation__btn__icon--X::after {
      top: 0;
      transform: rotate(-45deg) scale(1.2);
    }
  }

  &__background {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: $layer-0;
    background-image: radial-gradient($color-cyan-1, $color-cyan-5);
    transition: all 0.6s cubic-bezier(0.85, 0, 0.07, 1);

    &.navigation__menu-open {
      transform: scale(80);

      & ~ .navigation__menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    z-index: $layer-1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    min-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -70%);
    list-style: none;
    text-align: center;

    &__item {
      width: 100%;
      margin: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 800;
      border-radius: 0.5rem;
      color: $color-cyan-5;
      text-decoration: none;
      text-transform: uppercase;
      padding: 2px 10px;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white-max 50%
      );
      background-size: 220%;
      transition: all 0.6s;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }

      @include respond(tab-port) {
        font-size: 1.3rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-blue-2;
      transform: translateX(1rem);
    }
  }
}
