.panel {
  display: block;
  min-height: 10vh;
  max-height: 86vh;
  border-radius: 6px;
  padding: 2.3rem 0.7rem;
  overflow-y: auto;
  background-color: $color-blue-gray;
  border: 6px double darken($color-gray, 30%);


  &::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 10px;
    background-color: transparent;

    &-thumb {
       border: 3px $color-gray solid;
      border-radius: 10px;
      background-color: $color-blue-dark;
    }
  }
  
}
