@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottomCenter {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

@keyframes fade-in-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes recording-outline-effect {
  from {
    outline-offset: 1px;
  }
  to {
    outline-offset: 6px;
  }
}
