:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-size: 100%;
  @include respond(phone) {
    font-size: 80%;
  }
  @include respond(tab-land) {
    font-size: 90%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 2rem 1rem 1.2rem;
  display: flex;
  min-width: 20rem;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: rgb(90, 90, 90);
  background: linear-gradient(
    to left top,
    $color-blue-light 0%,
    $color-blue-dark 100%
  );
  box-sizing: border-box;

  &::-webkit-scrollbar {
    padding: 5px;
    width: 15px;
    border-radius: 50px;
    background-color: #f5f5f5;
    transition: all 0.8s;

    &-thumb {
      border: 2px rgb(90, 90, 90) solid;
      border-radius: 10px;
      background-color: $color-blue-mid;
      transition: all 0.8s;
    }

    &-track {
      background-color: #f5f5f5;
      border-radius: 10px;
    }
  }
}
